<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){
    $('form[data-remote]').bind('ajax:before', function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, class: "form-control" %> <br>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :ckeditor => {:language => 'en'} %>
  </div>
  <%= f.fields_for :youtubes do |p| %>
         <%= p.label :link %><br>
         <%= p.text_field :link, name: "youtubes[link][]" %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
