<header class="intro-header header1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Inspiring a new Generation!</h1>
                    <hr class="small">
                </div>
                <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/MrAbalogu_">
                                <span class="fa-stack fa-lg myIcon">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/chinedu.abalogu">
                                <span class="fa-stack fa-lg myIcon">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/MrAbalogu/Blog">
                                <span class="fa-stack fa-lg myIcon">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
  <div class="offset-by-four four columns">
    <%= form_for @subscriber, :html => { :multipart => true } do |f| %>
    <%= f.label :email, "Send us your email and never miss a post" %>
    <%= f.text_field :email %>
    <%= f.submit "Subscribe"%>
    <% end %>
  </div>
</div>  

<div class="row"> 
   <div r="postSection" class="all-post-container ten columns">
    <div class="post fade-in one"> 
    <% @posts.each do |post| %>
      <div class="post-container">
          <div class="title-container font-huge-regular"><%= truncate(post.title) %></div>
          <div class="date-container font-small-regular">Posted at: <%= post.created_at %></div>
          <div class="post-sub-container">
            <div class="post-image-container" style="background-image: url(<%=post.avatar.url(:medium)%>);"></div>
            <div class="desc-container font-extrasmall-light"> <%= truncate(post.description, length:300 ) %>  </div>
            <%= button_to "Read", post_path(post), :method => "get", :class => "post-button" %>
          </div>
      </div>
  <% end %>     
    </div>
  </div> 
  <div class="two columns post_container">
  <% cache do %>
    All Posts:
    <div class="posts_list">
    <% @posts.each do |post| %>
      <%= link_to post.title, post_path(post) %>
    <% end %>
    </div>
  <% end %>  
  </div>
</div>
<br>

