	<header class="intro-header" style="background-image: url(<%=@post.avatar.url%>);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post.title %></h1>
                        <p> <%= link_to "back", posts_path %> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <p> 
                        <% @youtube.each do |v| %>
                          <%= embed(v.link) %>
                        <% end %>

                    	<%= raw(@post.content) %>

                    	<%= render "disqus" %>
                    </p>
                </div>    
            </div>
        </div>
    </article>        